.about-banner {
  background-color: white;
  height: 100vh;
}

.about-container {
  height: 100vh;
  text-align: center;
  background-color: white;
  color: black;
  font-size: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
