.contact-banner {
  background-image: url("envelope.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgba(41, 41, 41, 1);
}

.box-contact {
  border: 3px solid rgb(164, 92, 57);
  width: 80vh;
  height: 40vh;
  padding: 25px;
  background-color: rgba(241, 223, 209, 0.7);
}

.small-padding {
  padding-bottom: 25px;
}

.mail {
 font-weight: bold;
 text-align: center;
}
