// Specific CSS for your home-page
body {
  //background-image: url(escalier.jpg);
  //background-size: cover;
  background-color: #F7CDC1;
}

h1 {
  text-align: center;
  font-family: 'Monoton', cursive;
}

#manifesto {
  text-align: justify;
  padding: 38px;
  margin: 2em 12em;
  font-family: 'Lora', serif;
  background-color: white;
  border-width: 10px;
  border-image-source: url(golden_glitter.jpg);
  opacity: 0.9;
  color: black;
}
