<div class="footer">
  <div class="footer-text">
    Pour nous suivre :
    <%= render 'subscribers/form' %>
  </div>
  <div class="footer-logo">
    <div class="footer-ig">
      <%= image_tag "instagram.png", alt: "instagram"%>
    </div>
    <div class="footer-tiktok">
      <%= image_tag "tiktok.png", alt: "tiktok"%>
    </div>
    <div class="footer-facebook">
      <%= image_tag "facebook.png", alt: "facebook"%>
    </div>
  </div>
</div>
