<div class="leftbar">
  <div class="logo-leftbar">
    <div class="leftbar-ig">
      <i class="fab fa-instagram"></i>
    </div>
    <div class="leftbar-tiktok">
      <i class="fab fa-tik-tok"></i>
    </div>
    <div class="leftbar-facebook">
      <i class="fab fa-facebook-square"></i>
    </div>
  </div>
</div>
