<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="manifesto-navbar-logo">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "mdc_logo.png", alt: "MDC"%>
    <% end %>
  </div>

  <div class="manifesto-navbar">
    <div class="navbar-items">
      Manifesto
    </div>
    <div class="navbar-items">
      Me, Myself & I
    </div>
    <div class="navbar-items">
      Contact
    </div>
  </div>
</div>
