<div class="about-banner">
  <div class="about-container">
    <div class="title-about">
    <div><%= image_tag "alois1.png", alt: "quote", class: "pic-profile"%></div>
    </div>
    <div><h1>Who am I?</h1></div>

<p>Je m'appelle Aloïs, je suis mariée, j'ai la trentaine toute fraîche et une petite fille née en octobre 2018.</p>

<p>Après plusieurs années dans les métiers de la finance d'entreprise, j'ai voulu profiter de mon congé maternité pour lancer un projet que j'avais en tête depuis un moment. J'allais enfin avoir du temps pour tester et booster mon concept, tout en gardant mini-moi à la maison, cela m'apparaissait comme une idée absolument formidable, du moins lorsque j'étais enceinte.</p>

<p>En effet, la réalité s'est avérée bien moins glorieuse que sur le papier, et pour cause: parmi les (très) nombreuses choses que je n'avais pas anticipées avec l'arrivée de bébé, c'est que d'une, "nourrisson" et "sommeil" sont des mots antonymes, et de deux, surprise ! Un bébé demande beaucoup, beaucoup (trop) d'attention et tout autant d'énergie.</p>

<div><h2>Est-il possible de mourir de fatigue?</h2></div>

<div><p>J'étais dans un tel état d'épuisement au bout de quelques mois que j'en ai googlé la question. Si, si vraiment. Je me suis retrouvée totalement submergée, à passer des nuits blanches interminables puisqu'au moindre réveil de ma progéniture (et ils étaient nombreux…), il m'était impossible de retrouver le sommeil. Mon esprit s'agitait dans tous les sens, à la recherche de fulgurances et de bullet points à rajouter à ma to-do déjà bien étoffée. J'avais trop à faire, trop à penser, que ce soit pour mon projet ou mon bébé, ce dont résultait la désagréable sensation constante d'avoir "la tête dans le brouillard".</p></div>

<div><p>Le tout se terminait en autoflagellation pour l'entrepreneure et maman désastreuse que j'étais. C'est simple: lorsque je m'occupais de ma fille, je me disais que je perdais du temps sur mon projet, et lorsque je travaillais, je culpabilisais de ne pas m'occuper de ma fille. Un cercle vicieux dont je n'arrivais pas à me défaire et qui me paralysait, me rendant totalement inefficace.</p></div>

<div><h2>Bébé == start-up?</h2></div>

<div><p>L'entrepreneuriat et la maternité ont finalement de nombreuses choses en commun : la charge mentale, la remise en question continue, le manque de sommeil, la surconsommation d'énergie, la solitude.</p><p> <i>Aparté: futures mamans ou futures entrepreneures, ne fuyez pas ! De parts et d'autres, il y a évidemment AUSSI des aspects très cool, hein </i>😅</p></p></div>

<div><p>Bref, pour dresser le bilan et vous la faire courte: mon projet a fini mort-né, j'étais totalement déprimée, frustrée et je culpabilisais de ne pas avoir été consciemment présente lors des premiers mois de vie de ma fille.</p></div>

<div><p>J'ai fini par parler de mes états d'âme à mes amies et je me suis peu à peu rendue compte que tous les pensées négatives menant à mon auto-sabotage n'avaient finalement pas seulement trait à ma seule folie personnelle mais étaient communs à beaucoup d'autres…</p></div>

<div><p>Nous serions finalement nombreuses à nous sentir seules, coupables et frustrées !</p></div>

<div><h2>Sharing is caring.</h2></div>

<div><p>De là, ma quête a alors commencé. Je me suis dit qu'il existait forcément des femmes qui ont eu des enfants et ont réussi à mener avec succès une carrière et/ou aventure entrepreneuriale ?
J'avais le besoin urgent de rencontrer mes paires pour savoir comment elles géraient tous ces sentiments, comment elles s'organisaient concrètement. Et de partager leurs trucs et astuces pour atteindre le fameux 'work-life balance' auquel on aspire toutes (et tous !).</p></div>

<div><p>C'est comme ça que le projet "Mama Doesnt' Cook" est né. Pour mettre en valeur les témoignages de femmes inspirantes et ambitieuses, mères, qui réussissent à marcher sur le fil fragile qu'est l'équilibre de vie pro/perso. Parce que je suis convaincue de la valeur de l'exemple et des rôles modèles, et que finalement il y en a peu… Aujourd'hui encore, en 2020, les femmes dont les carrières sont remarquables - qu'elles soient artistiques, sportives ou business  - s'épanchent rarement sur leur vie familiale de peur qu'on remette en cause leur implication dans leur job, et sont parfois (souvent?) considérées comme de mauvaises mères car ne passant pas 'assez' de temps avec leur.s enfant.s.</p></div>

<div><p>Or, qu'on se le dise, ce n'est pas parce que vous êtes une "maman" que la bonne tenue du foyer passe sous votre entière responsabilité. Donc non, vous n'êtes pas obligée de savoir cuisiner un rôti de veau aux petits légumes, de maîtriser le fer à repasser aussi bien que vos ascendantes, ou d'avoir pour unique sujet de conversation les dernières gigoteuses ou autres tétines scandinaves (alors après si ça vous détend, surtout ne vous privez pas, hein :)).</p></div>

<div><p>Personnellement, je ne cuisine pas. Et j'ai arrêté de me blâmer pour ça. Mon mari est bien meilleur que moi et finalement pour le bien des papilles de toute la famille, c'est sans doute mieux ainsi !</p></div>

<div><h2>Stronger. Together.</p></h2></div>

<div><p>Je suis certaine que pour changer les mentalités et déclencher des prises de conscience, il faut être nombreuses à en parler ouvertement. Multiplier les modèles pour que chacune vienne piocher ce qui résonne le plus pour elle. Impliquer nos hommes évidemment et faire d'eux nos ambassadeurs pour diffuser notre message.</p></div>

<div><p>Ma mission avec MDC: vous inspirer à faire des grandes choses. Ou même des petites (pour commencer). Peu importe, à FAIRE. Vous déculpabiliser. Vous aider. Vous faire progresser. En somme, vous transmettre les outils et toutes les bonnes vibes nécessaires vous permettant d'allier vos ambitions et votre vie de maman. Le tout, sans (presque) culpabiliser.</p></div>

<div><p>Alors, je n'ai pas dit que ça serait facile tous les jours. Mais qu'on se le dise, même les Beyoncé ou autre Shery Sandberg ne sont pas étrangères à l'envie de de se passer des journées entières sous la couette avec Netflix et un pot de Ben&Jerrys pour seule compagnie (tout comme Arianna Huffington, Serena Williams, Jessica Alba, Christine Lagarde ou Chiara Ferragni au choix selon les affinités de chacune :)).</p></div>

<div><p>Mais vous avez porté (au moins) un enfant, l.es avez mis au monde et l.es éduquez. Sérieusement, que n'êtes-vous pas capable de faire après ça?</p></div>

<div><p>A toutes, je vous souhaite de l'audace,</p></div>
<div><p>De l'impertinence,</p></div>
<div><p>De l'ambition,</p></div>
<div><p>De la détermination,</p></div>
<div><p>De l'inspiration,</p></div>
<div><p>Et tout plein d'amour ❤️</p></div>

<div><h2>"When mamas support each other incredible things happen".</h2></div>

<div><p>Love & boldness,</p></div>

<div><p>Aloïs</p></div>


  </div>
</div>
