<div class="contact-banner">
  <div class="box-contact">
    <div class="small-padding">
    Si vous voulez me faire part de vos réflexions, questions, témoignages ou autres mots doux, n'hésitez à m'envoyer un mail à l'adresse suivante :
    </div>
    <div class="mail small-padding">alois@mamadoesntcook.fr</div>
    <div>Promis, je reviendrai vers vous dès que possible :)</div>

  </div>
</div>
