<div class="container-coming">



    <div class= "bloc">
      <h1>COMING SOON</h1>

      <p>Patience, les premiers épisodes arrivent bientôt 🙌</p>

      <p class="padding-m-bottom">En attendant, suivez-nous ⇣</p>

      <div>

        <div class="newsletter">
        </div>

      <%= image_tag "linkedinep.png", alt: "Linkedin", class:"margin-right"%>
      <%= image_tag "instagramep.png", alt: "Instagram", class:"margin-right"%>
      <%= image_tag "tiktokep.png", alt: "Tiktok", class:"margin-right"%>
      </div>
      </div>
    </div>

</div>
