<div class="banner">
  <div class="manifesto-container">
    <div id='manifesto-title'>
      Manifesto
    </div>
    <div class="pink-background">
      <div id='manifesto'>

        <div class="manifesto-items">
        <p class='mama'><i>Mama Doesnt' Cook</i> est un podcast qui veut mettre en valeur les témoignages de femmes inspirantes et ambitieuses, mères, qui réussissent à marcher sur le fil fragile qu'est l'équilibre de vie pro/perso.</p>

        <p>Car, je suis certaine que pour changer les mentalités et déclencher des prises de conscience, il faut être nombreuses à en parler ouvertement. Multiplier les modèles pour que chacune vienne piocher ce qui résonne le plus pour elle. Impliquer nos hommes évidemment et faire d'eux nos ambassadeurs pour diffuser notre message.</p>

        <p>Ma mission avec MDC: vous inspirer à faire des grandes choses. Ou même des petites (pour commencer). Peu importe, à FAIRE. Vous déculpabiliser. Vous aider. Vous faire progresser. En somme, vous transmettre les outils et les bonnes ondes vous permettant d'allier vos ambitions et votre vie de maman. Le tout, sans (presque) culpabiliser.</p>

        <p>Alors, je n'ai pas dit que ça serait facile tous les jours. Mais qu'on se le dise, même les Beyoncé ou autre Shery Sandberg ne sont pas étrangères à l'envie de de se passer des journées entières sous la couette avec Netflix et un pot de Ben&Jerrys pour seule compagnie (tout comme Arianna Huffington, Serena Williams, Jessica Alba, Christine Lagarde ou Chiara Ferragni au choix selon les affinités de chacune :)).</p>

        <p>Mais vous avez porté (au moins) un enfant, l.es avez mis au monde et l.es éduquez. Sérieusement, que n'êtes-vous pas capable de faire après ça?</p>



        <p>A toutes, je vous souhaite de l'audace, de l'impertinence, de l'ambition, de l'audace, de l'inspiration, et tout plein d'amour ❤️</p>

        <p>Love & boldness,</p>

        <p><b>Aloïs</b></p>
      </div>
    </div>
  </div>
</div>
      <div class='manifesto-items'>
        <p><i>P.S : si vous connaissez des femmes inspirantes que vous voudriez avoir sur le podcast, n'hésitez pas à m'écrire vos recommandations à alois@mamadoesntcook.fr</i></p>

        <p><i>P.P.S: pour suivre mes dernières aventures, c'est ici ⇣</i></p>

      </div>
        <div class="text-center"><iframe src="https://giphy.com/embed/3o7abBphHJngINCHio" width="280" height="280" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>

        <div class="text-center">"When <s>women</s> mamas support each other incredible things happen".</div></p>




