.manifesto-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(240,240,240);
  //flex-wrap: wrap;
}

.manifesto-container::first-child {
  align-items: flex-start;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.middle-container {
  height: 100vh;
  text-align: center;
  background-color: white;
  color: black;
  font-size: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bottom-container {
  height: 100vh;
  text-align: center;
  background-color: rgb(241, 223, 209);
  color: black;
  font-size: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sharing-text {
  padding: 20px 0px;
}


.sharing img {
  height: 62vh;
  background-color: linear-gradient(rgba(0,0,0,0.3));
}

.mission-text {
  font-size: 14px;
  width: 100vh;
  font-family: 'Playfair Display', serif;
}

.mission-text h1 {
  padding-bottom: 20px;
}

@media screen and (max-width:570px) {


.container {
  //margin-top: 40px;
}

.middle-container {
  height: auto;
  flex-direction: column;
}

.bottom-container {
  height: auto;
  flex-direction: column;
}

.sharing img {
  padding-top: 15px;
  height: auto;
  width: 80%;
}

.mission-text {
  padding-top: 20px;
}
}
