.footer {
  box-sizing: border-box;
  min-height: 0px;
  height: 90px;
  width: 100%;
  top: 0px;
  left: 0px;
  bottom: 0px;
  z-index: 10;
  //background-color: rgb(231, 216, 209);
  background-color: rgba(231, 208, 192, 0.6);
  color: black;
  margin: 0px;
  overflow: hidden;
  border-top: 1px solid rgb(185, 148, 121);
  display: flex;
  flex-direction: column;
  }

  //  @media (min-width: 30em)

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60px;
}

.footer-logo {
  //box-sizing: border-box;
  //min-height: 0px;
  //flex-direction: column;
  //-webkit-box-pack: end;
  //justify-content: flex-end;
  //-webkit-box-align: center;
  //align-items: center;
  display: flex;
  margin: 0px;
  //flex: 1 1 0%;
  color: black;
  //height: 20px;
}
.footer-logo img {
  height: 28px;
  margin-right: 10px;
}

.footer-bloc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  padding-top : 10px;
}

.footer-btn {
  font-size: 12px;
  border: 1px solid rgb(185, 148, 121);
  font-weight: bold;
  //background-color: rgb(185, 148, 121);
}

.footer-text-form {
  background-color: rgba(231, 208, 192, 0);
  border: none;
  border-bottom: 1px solid rgb(185, 148, 121);
  text-align: center;
  width: 20em;
  justify-content: center;
}

.footer-form {
  display: flex;
  align-items: center;
}

.footer-text {
  margin-right: 10px;
  font-weight: bold;
}

.footer-iris {
  text-align: left;
  font-size: 12px;
  margin-left: 20px;
  font-style: italic;
  padding-bottom: 15px;
}

.footer-linkedin {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url('linkedin.png');
  background-size: cover;
  margin: 5px 10px 0 0;
}

.footer-linkedin:hover {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url('linkedin-sable.png');
  background-size: cover;
  cursor: pointer;
}

.footer-ig {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url('instagram.png');
  background-size: cover;
  margin: 5px 10px 0 0;
}

.footer-ig:hover {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url('instagram-sable.png');
  background-size: cover;
  cursor: pointer;
}

.footer-tiktok {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url('tiktok.png');
  background-size: cover;
  margin: 5px 10px 0 0;
}

.footer-tiktok:hover {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url('tiktok-sable.png');
  background-size: cover;
  cursor: pointer;
}
