
.navbar-lewagon {
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.9);
  transition: 0.5s background-color ease;
  //opacity: 0.8;
  color: white;
  border-bottom: 1px solid darkgoldenrod;
}

.navbar-lewagon-black {
  justify-content: space-between;
  background-color: black;
  //opacity: 0.8;
  color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 300px;
}

.manifesto-navbar {
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-wrap: nowrap;
}

.navbar-items {
  padding: 2px 40px;
  font-family: 'Lora', cursive;
}

.navbar-items a {
  text-decoration: none;
  color: white;
}

