
.navbar-lewagon {
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.9);
  transition: 0.5s background-color ease;
  //opacity: 0.8;
  color: white;
  border-bottom: 1px solid rgb(185, 148, 121);
}

.navbar-lewagon-black {
  justify-content: space-between;
  background-color: black;
  //opacity: 0.8;
  color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 300px;
}

.manifesto-navbar {
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-wrap: nowrap;
}

.navbar-items {
  padding: 2px 40px;
  font-family: 'Lora', cursive;
}

.navbar-items a {
  text-decoration: none;
  color: white;
}

.navbar-items a:hover {
  color: rgb(208, 159, 128);
  padding-bottom: 32px;
  border-bottom: 3px solid rgb(208, 159, 128);
}

.navbar-logo {
  display: flex;
}

.navbar-logo img{
  height: 20px;
  margin-right: 10px;
}

.navbar-linkedin {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: image-url('linkedin-white.png');
  background-size: cover;
  margin: 5px 10px 0 0;
}

.navbar-linkedin:hover {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: image-url('linkedin-sable.png');
  background-size: cover;
  cursor: pointer;
}

.navbar-ig {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: image-url('instagram-white.png');
  background-size: cover;
  margin: 5px 10px 0 0;
}

.navbar-ig:hover {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: image-url('instagram-sable.png');
  background-size: cover;
  cursor: pointer;
}

.navbar-tiktok {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: image-url('tiktok-white.png');
  background-size: cover;
  margin: 5px 10px 0 0;
}

.navbar-tiktok:hover {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: image-url('tiktok-sable.png');
  background-size: cover;
  cursor: pointer;
}



@media screen and (max-width:570px) {

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill:none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: white;
  stroke-width:2.5;
  stroke-linecap:round;
}
.ham1 .top {
  stroke-dasharray: 40 139;
}
.ham1 .bottom {
  stroke-dasharray: 40 180;
}
.ham1.active .top {
  stroke-dashoffset: -98px;
}
.ham1.active .bottom {
  stroke-dashoffset: -138px;
}


.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: no-wrap;
  text-align: center;
}

.manifesto-navbar {
  display: none;
}

.navbar-lewagon .navbar-brand img {
  width: 80%;
  text-align: center;
}

.navbar-items {
  display: none;
}

.list-menu {
  margin-top: 0;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  font-size: 18px;
}

.list-menu li {
  list-style-type: none;
  padding: 3px;
}

.list-menu a {
  text-decoration: none;
  color: rgb(240, 240, 240)
}



}
